body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* font-size: 20px; */
}

.pizza {
  max-width: 300px;
}
.pizza-list{
  margin:10%;
}
.price {
  float: right;
  margin-right: 10px;
}
.modal-overlay {
  position: fixed;
  z-index: 50;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity;
}
.font-black{
  color : #000;
}
.full-button{
  width: 100%;
}
.float-right{
  float: right;
} 
.full-width{
  width: 100%;
}
img{
  width: 100%;
}
.fb{
  margin-bottom: 10px;
  background-color: #4267b2;
}
.container{
  width: 75%;
  /* margin-left: 25%; */
}
.chip {
  display: inline-block;
  height: 50px;
  font-size: 18px;
  width: 100%;
  line-height: 50px;
  padding: 0 12px;
  border-radius: 25px;
  background-color: #ee6e7375;
  margin-bottom: 5px;
  margin-right: 5px;
}
.chip img {
  float: left;
  margin: 0 8px 0 -12px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.row-chip{
  margin-bottom: 0px;
}
.col-basket{
  z-index: 5;
  max-width: 500px;
  right: 5em;
  background-color: #fff;
  padding : 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
nav .brand-logo {
  margin-left: 10px;
}
nav ul a {
  font-size: 1.28rem;
}
.order_state{
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.add-pizza{
  margin-right: 25%;
  margin-left: 25%;
  position: fixed;
  width: 50%;
  top: 25%;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
}

.add-pizza-button{
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
  padding: 0;
}
.toast p{
  margin-top: 5px;
  margin-bottom: 5px;
}
.toast{
  position: fixed;
  right: 23px;
  top: 23px;
  z-index: 998;
  padding : 10px;
}
.ok-toast{
  background-color: #8bc34a;
}
.warn-toast{
  background-color: #ffa726;
}
.error-toast{
  background-color: #ff6e40;
}
@media only screen and (max-width: 600px){
.toast {
    border-radius: 0;
}
}

/*    Timeline    */
* {
  box-sizing: border-box;
}


.small-h4{
  font-size : 20px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #ee6e73;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* order around content */
.order {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.order::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: #ee6e73;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.order-left {
  left: 0;
}

/* Place the container to the right */
.order-right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.order-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #ee6e73;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ee6e73;
}

/* Add arrows to the right container (pointing left) */
.order-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #ee6e73;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ee6e73 transparent transparent;
}

/* Fix the circle for containers on the right side */
.order-right::after {
  left: -12px;
}

/* The actual order-card */
.order-card {
  padding: 20px 30px;
  background-color: #ee6e73;
  position: relative;
  border-radius: 6px;
}

.order-right.new_order_before::before{
  border: medium solid #ee6e73;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ee6e73 transparent transparent;
}

.order-right.prepa_order_before::before{
  border: medium solid #4db6ac;
  border-width: 10px 10px 10px 0;
  border-color: transparent #4db6ac transparent transparent;
}

.order-right.livraison_order_before::before{
  border: medium solid #ffe082;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffe082 transparent transparent;
}

.order-right.livre_order_before::before{
  border: medium solid #b0bec5;
  border-width: 10px 10px 10px 0;
  border-color: transparent #b0bec5 transparent transparent;
}

.order-left.new_order_before::before{
  border: medium solid #ee6e73;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ee6e73;
}

.order-left.prepa_order_before::before{
  border: medium solid #4db6ac;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #4db6ac;
}

.order-left.livraison_order_before::before{
  border: medium solid #ffe082;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ffe082;
}

.order-left.livre_order_before::before{
  border: medium solid #b0bec5;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #b0bec5;
}

.new_order{
  background-color: #ee6e73;
}

.prepa_order{
  background-color: #4db6ac;
}

.livraison_order{
  background-color: #ffe082;
}

.livre_order{
  background-color: #b0bec5;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 990px) {
  .container{
    margin: 2%;
    width: 100%;
  }
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .order {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .order::before {
    left: 60px;
    border: medium solid #ee6e73;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ee6e73 transparent transparent;
  }

  .order-left.new_order_before::before{
    border: medium solid #ee6e73;
    border-width: 10px 0 10px 10px;
    border-color: transparent #ee6e73 transparent transparent ;
  }
  
  .order-left.prepa_order_before::before{
    border: medium solid #4db6ac;
    border-width: 10px 10px 10px 0;
    border-color: transparent #4db6ac transparent transparent ;
  }
  
  .order-left.livraison_order_before::before{
    border: medium solid #ffe082;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffe082 transparent transparent ;
  }
  
  .order-left.livre_order_before::before{
    border: medium solid #b0bec5;
    border-width: 10px 10px 10px 0;
    border-color: transparent #b0bec5 transparent transparent ;
  }

/* Make sure all circles are at the same spot */
  .order-left::after, .order-right::after {
    left: 18px;
  }

/* Make all right containers behave like the left ones */
  .order-right {
    left: 0%;
  }
}