body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.pizza {
  max-width: 300px;
}
.price {
  float: right;
  margin-right: 10px;
}
.font-black{
  color : #000;
}
.full-button{
  width: 100%;
}
.float-right{
  float: right;
} 
.full-width{
  width: 100%;
}